:root {
	--distance-normal: 3rem;
	--distance-small: 1.5rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.slider__container {
	position: relative;
	margin: auto;
	overflow: hidden;
}

/* ul list */
.slider__list {
	transition: transform 0.4s ease-in-out;
	width: 100000px;
	display: flex;
	padding-right: var(--distance-normal);
}

/* li child */
.slider__item {
	margin: 1rem 0;
	margin-left: var(--distance-normal);
	width: 45vw;
	height: 350px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 15px #ccc;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 700px) {
	.slider__item {
		width: 70vw;
		margin-left: var(--distance-small);
	}
	.slider__list {
		padding-right: var(--distance-small);
	}
}
